<div class="container">
    <div class="col-xs-12">
        <h1 class="text-center">COMING SOON....</h1>
        <h4 class="text-center">We will release the final schedule closer to the convention when we finalize the topics and speakers</h4>
    </div>
</div>
