<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Ocean Area Convention Shore To Recover VIII</h3>
        <h2 class="text-center">April 1-3 2016</h2>
        <h2 class="text-center">Berkley OceanFront Hotel</h2>
        <h2 class="text-center">1401 Ocean Ave</h2>
        <h2 class="text-center">Asbury Park, NJ 07712</h2>
    </div>
</div>
