// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
    color: white;
}
.jumbotron {
    background-color: transparent;
    color: white;
}
a.register {
    background-color: #4587de;
    border-color: #3e79c7;
}
